body{
    font-family: 'Poppins', sans-serif;
} 
.half-width{
    width:50%;
      
}
.half-width img{
    width:90%;
}
section{
    display:flex;
    margin:80px;
}
.Another-color{
    color:rgb(201, 67, 183);
}
h1{
    font-size: 50px;
    color:rgb(103, 103, 112);

}
.button{
    background-image:linear-gradient(rgba(177, 53, 150, 0.472),rgb(209, 72, 198));
    padding: 10px 40px;
    border-radius: 15px ;
    text-decoration: none;
    color:white;
}
.paragraph{
    color:rgb(115, 113, 121);
    text-align: justify;
    padding-right: 90px;
}
/*section2 starts here......*/

 .section2{
    background-image: url("bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width:90%;
    height:550px;
     
     
     
}
 #sec2-h2{
    padding:130px 40px 0 90px;
    font-size: 50px;
    color:cadetblue;
    padding-right: 0px;
    
}
.sec2-div{ 
    width:80%;
    
    
}
.sec2-div img{
    
     
     
     
}

 

#alone{
     
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height:100px;
    width:900px;
     
}
/*section3 starts here....*/

#sec3-flex{
    display:flex;
    
}
#sec3-flex img{
    width:90%;
}
.recipies{
    width:30%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 1%;
    text-align: left;
     
      
     
    box-shadow: 10px 10px 40px rgb(209, 205, 205);
    border-radius: 30px;
     
}
.sec3-paragraphs{
    font-size: 15px;
}
     
